

<h1>Create a new Contact</h1>

<form action="/contacts" method="post">
	<input type="text" name="first_name" placeholder="  First Name">
	<input type="text" name="last_name" placeholder="  Last Name">
	<input type="text" name="email" placeholder="  Email">
	<input type="text" name="note" placeholder="  Notes">
	<input class="submitbutton" type="submit" name="submit">
</form>
